<div>

  <table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
      <th title="Field #2">Title</th>
      <th title="Field #6">Director</th>
      <th title="Field #8" style="text-align: center">Release Date</th>
      <th title="Field #9" style="text-align: center">Running Time</th>
      <th title="Field #10" style="text-align: center">Rt-score</th>
      <th title="Field #11" style="text-align: center" *ngIf="getRole==2">
          <button  class="btn btn-danger" (click)="deleteMovie()">Delete</button>
      </th>
      <th title="Field #12"style="text-align: center"  *ngIf="getRole==2">
        <input type="checkbox"  (change)="bulk($event)" [checked]="isAllChecked">
      </th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let f of films">
      <td><a [routerLink]="['/filmDetails',f.id]">{{f.title}}</a></td>
      <td>{{f.director}}</td>
      <td align="right">{{f.release_date}}</td>
      <td align="right">{{f.running_time}}</td>
      <td align="center">
        <app-star-rating [ShowDiv]="false" [rating]="tostring(f.rt_score)">

        </app-star-rating>
      </td>
      <td align="center" *ngIf="getRole==2">
        <a class="btn btn-link" [routerLink]="['/filmEdit',f?.id]">
          <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
        </a>
      </td>
      <td align="center" *ngIf="getRole==2" >
        <input type="checkbox"  style="margin-top: 10px" [value]="f.id.toString()" [checked]="f.checked" (change)="onCheckChange($event)">
      </td>

    </tr>
    </tbody>
  </table>
</div>
